html{
    font-family: "Sora"
}

:root{
    --color: #e95656;
}
p{
    text-align: center;
    font-family: "Sora";
    font-weight: 700;
    font-size: 16px;
    text-decoration: none solid rgb(31,33,36);
    
}
a{
    text-align: center;
    font-family: "Sora";
    font-weight: 700;
    font-size: 16px;
    text-decoration: none solid rgb(31,33,36);
}

#a{
    color:white;
}
#navbar{
    top: 0;
    display: flex;
    justify-content: center; 
    background-color: var(--color);
    color: rgb(255, 255, 255);
    width: 100%;
    height: 10%;
    position: sticky;
    position: -webkit-sticky;
    z-index: 100;
}

#navbar2{
    top: 0;
    display: flex;
    justify-content: center; 
    background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
    color: rgb(255, 255, 255);
    width: 100%;
    height: 10%;
    position: sticky;
    position: -webkit-sticky;
    z-index: 100;
}

body{
    width: 100%;
    margin: 0;
    background-color:#ffffff;
}
#drinkdescription{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5vh;
    height:80vh;
    flex-wrap: wrap;
    
}

#main{
    font-family: "Sora";
    font-size: 7vw;
}

#intake{
    font-family: "Sora";
    font-size: 8vw;
    color: var(--color);
    font-weight: bold;
    
}

.cup {
    
    
    width: 10vw;
    height: 40vh;
    border: 6px solid #262626;
    border-top: 2px solid transparent;
    border-radius: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: url(https://image.ibb.co/fmHm66/wave.png);
    background-position: 0px 350px;
    background-repeat: repeat-x;
    animation: filling 10s ease-in-out infinite;
    box-shadow: 0 0 0 6px #fff, 0 20px 35px rgba(0,0,0,1);
    margin-bottom: 1vh;
    
}

  
@keyframes filling {
    50% {background-position: 3000px 0px;}
    100% {background-position: 6000px 350px;}
}

#cupholder{
    width: 100%;
    margin-top: 200px;
    height:30vh;
    display: flex;
    padding-top: 100px;
    padding-bottom: 80px;
    justify-content: center;
    align-items:center;
    margin-bottom: 5vh;
    flex-direction: column;
}

#changeamount{
    margin-top: 5vh;
    width: 100%;
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:#daffdc;
    border-radius: 25px;
}

#change{
    font-size: 4vw;
    text-align: center;
}

.input{
    margin-bottom: 10px;
    width: 50px;
    align-content: center;
    height: 45px;
    border: 2px solid var(--color);
    text-align: center;
}

#changenumber{
    display: none;
}

#submit{
    display: none;
}

.but{
    font-family: "Sora";
    font-weight: bold;
    color:var(--color);
    background: rgba(255,255,255,0);
    padding: 15px 32px;
    cursor: pointer;
    border: 2px solid var(--color);
}

.but:hover{
    background: var(--color);
    color: white;
}

.secret{
    width: 100%;
    height: 50vw;
    margin-top: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#secretinput{
    width: 10vw;
}

#safeTimerDisplay{
    font-size: 8vw;
}

#Speler{
    font-size: 6vw;
}

#timerstart{
    margin-bottom: 1vh;
    display: block;
}
#timerstart2{
    display: block;
    margin-bottom: 1vh;
}

#timerstart3{
    display: block;
}

#secretflip{
    display: none;
}

#secret{
    visibility: inherit;
}

#amountchange{
  margin-top: 5vh;
    display: flex;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: center;
}

#aboutpage{
    position:absolute;
    right: 25vw;
    padding: 0px 20px;
}

#aboutpage:hover{
    filter:brightness(1.75);
}

#water_widget_code{
    margin: 0px 10vw;
    background-color: transparent;
    border-radius: 0px;
    overflow: hidden !important;
}

#ifr{
    border-radius: 10px;
}

#ifr::-webkit-scrollbar {
    display: none;
  }

#water_intake{
  margin-top: 20vh;
    display: flex;
    justify-content: center;
}


.dot-flashing {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #000000;
    color: #000000;
    animation: dotFlashing 1s infinite linear alternate;
    animation-delay: .5s;
  }
  
  .dot-flashing::before, .dot-flashing::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
  }
  
  .dot-flashing::before {
    left: -15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #000000;
    color: #000000;
    animation: dotFlashing 1s infinite alternate;
    animation-delay: 0s;
  }
  
  .dot-flashing::after {
    left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #000000;
    color: #000000;
    animation: dotFlashing 1s infinite alternate;
    animation-delay: 1s;
  }
  
  @keyframes dotFlashing {
    0% {
      background-color: #000000;
    }
    50%,
    100% {
      background-color: #ffffff;
    }
  }

#members{
    display: grid;
    justify-content: center;
    column-gap: 10vw;
    row-gap: 4vh;
    margin-bottom: 20vh;
    margin-top: 20vh;
}

#maiko{
    display:flex;
    grid-row: 3;
    flex-direction: column;
    background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
    border-radius: 20px;
    padding-left: 10px;
    width: 20vw;
    filter: drop-shadow(0 0 0.25rem black)
}

#jasper{
    display:flex;
    grid-row: 2;
    flex-direction: column;
    background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
    border-radius: 20px;
    padding-left: 10px;
    width: 20vw;
    filter: drop-shadow(0 0 0.25rem black)
}

#jelte{
    display:flex;
    grid-row: 3;
    flex-direction: column;
    background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
    border-radius: 20px;
    padding-left: 10px;
    width: 20vw;
    filter: drop-shadow(0 0 0.25rem black)
}

#roos{
    display:flex;
    grid-row: 1;
    flex-direction: column;
    background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
    border-radius: 20px;
    padding-left: 10px;
    width: 20vw;
    filter: drop-shadow(0 0 0.25rem black)
}

#daniel{
    display:flex; 
    grid-row: 2; 
    flex-direction: column;
    background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
    border-radius: 20px;
    padding-left: 10px;
    width: 20vw;
    filter: drop-shadow(0 0 0.25rem black)
}

#sofie{
    display:flex;
    grid-row: 1;
    flex-direction: column;
    background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
    border-radius: 20px;
    padding-left: 10px;
    width: 20vw;
    filter: drop-shadow(0 0 0.25rem black)
}

.line{
    height: 3px;
    width: 19vw;
    background-color: #ffffff;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

.header {
    position:relative;
    text-align:center;
    background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
    color:white;
  }

  #waterbg{
    background: linear-gradient(60deg, #daffdc 0%, #53ff5b 100%)
  }
  .logo {
    width:50px;
    fill:white;
    padding-right:15px;
    display:inline-block;
    vertical-align: middle;
  }
  
  .inner-header {
    height:65vh;
    width:100%;
    margin: 0;
    padding: 0;
  }
  
  .flex { /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
  }
  
  .content {
    position:relative;
    height:20vh;
    text-align:center;
    background-color: white;
  }
  
  /* Animation */
  
  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }
  /*Shrinking for mobile*/
  @media (max-width: 768px) {
    .waves {
      height:40px;
      min-height:40px;
    }
    .content {
      height:30vh;
    }
    h1 {
      font-size:24px;
    }
  }
.name{
    color:white;
}

#aboutdesign{
  display: flex;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;

}